   @charset "utf-8";
   
   * {     /*전체 공통*/
            font-family: 'NanumSquare';    /*웹폰트 사용*/
            box-sizing: border-box;    /*크기 기준: 테두리 선까지*/
            margin: 0;                         /*여백 없애기*/
        }

        #container {      /*전체 박스*/
            border: 1px solid #000;
            width: 80%;  max-width: 1200px;    /*가로폭 최대 1200px 안에 100% 채우기*/
            margin: auto;
        }

        #header {     /*헤더(머릿말) 영역*/
            width: 100%;  height: 400px;
            background-image: url(images/bgimg01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: #fff;
        }

        #headerBox{
            position: absolute;
            top: 20%; left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }


        #headerBox > h1 {     /*헤더 안의 큰 제목*/
            font-family: 'NanumBrush';
            font-weight: normal;
            font-size: 4em;
            padding-top: 50px;  padding-left: 20px;
        }

        #header > p {     /*헤더 안의 단락 문자*/
            font-size: 1.2em;
            padding-top: 10px; padding-left: 20px;
        }

        #header > h1 > img {
            width: 50px; margin-right: 10px;
        }

        /* 내비게이션 영역 */
        #navi {      /*내비게이션 박스 영역*/
            width: 100%;  height: 50px;
            background-color: #351103;
        }

        #menu {    /*메뉴 박스 ul*/
            list-style: none;    /*부호 없애기*/
            padding: 0;          /*부호 공간 없애기*/

            display: flex;      /*가로 방향으로 배치하기*/
            justify-content: center;    /*수평 정렬 - 가운데*/
        }

        .main > a {      /*각 메뉴 링크*/
            color: #eee;
            font-size: 1.2em;
            text-decoration: none;     /*밑줄 없애기*/
            display: block;                /*여백 조절, 공간 채우기*/
            padding: 0 1em;
            line-height: 50px;       /*세로 높이, 가운데 맞춤*/
            transition: 0.3s;           /*전환 효과 0.3초*/
        }

        .main > a:hover {
            background-color: #FA812F;
        }


        /*섹션 영역*/
        #contents {     /*섹션 영역*/
            background-color: #faeabf;
            padding: 1em;
        }

        #sectionTitle {    /*섹션 제목*/
            font-size: 2em;
            color: #ca5757;
            margin-bottom: 0.5em;
        }
        
        .text {     /*섹션 본문 내용들*/
            font-size: 1.1em;
            text-align: justify;
            line-height: 1.5em;
            margin-bottom: 1em;
        }

        .smallTitle {
            background-color: #505050;
            color:#eee;
            font-size: 1.5em;
            padding: 0.4em 1em;
            margin-bottom: 1em;

            display: inline-block;
            box-shadow: 5px 5px 5px black;
        }

        .galleryBox{
            border: 1px;
            list-style:none;
            padding: 0;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap:20px;
        }


        .list{
        position: relative;
        }

        .icon{
            position: absolute;
            top: 10px;left: 10px;
        }

        .thumb:hover {transform: scale(1.05);}

        .thumb {transition: 0.3s;}

        .thumb, .video{
            width: 100%;
            display:block;

            border-radius: 5%;
        }

        .map{
            width:100%; height: 300px;
            margin-top: 10px;
            border-radius: 10px;
        }

        #link {
    background-color: #faeabf;
    color: #eee;
    text-decoration: none;
        }
#link:hover{
    background-color: #FA812F;
}
#footer{
    background-color: #FA812F;
    color: #ffffff;
    padding: 2em;
    line-height: 120%;
    text-align: center;
}

@media screen and (max-width: 850px){ 
  .listBox {
    grid-template-columns: repeat(2,1fr);
  }  
}
@media screen and (max-width: 450px){ 
  .listBox {
    grid-template-columns: 100%;
  }  
}

#header>h1{
    font-size: 3em;
}

#menu{
    display: block;
}