@charset "utf-8"; /*문자 인코딩 유니코드 사용*/

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'NanumGothicCodingLigatureBold';
    box-sizing: border-box;
    margin:0;
}

ul {
    list-style: none; padding: 0;
}

a{
    text-decoration: none;
}

#header{
    width: 100%; height:100vh;

    position: relative;
    overflow: hidden;
}

#headerVideo{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);

    min-width: 100%; min-height: 100%;
}

#headerTitle{
    font-family: 'SBAggroB';
    color: aliceblue;
    font-size: 5vw;
    width: 100%; text-align: center;
    text-shadow: 0 0 rgba(0,0,0,.3);

    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);

}


#enquire{
    position: absolute;
    top: 20px; right: 20px;
}

#enquire1{
    color: aliceblue; font-size: 1.3em;
    transition: 0.3s;
}

#enquire1:hover{
color: gold;

}

#enquire2{
    background: rgb(255,199,25);
    color: aliceblue; padding: 0.5em;
    border-radius: 3px;
    transition: .3s;
}

#enquire2:hover{
    background:rgb(255,199,25);
    color: #000;
}

#navi {
    position: absolute;
    top: 20px; left: 20px;
    border: 1px #000;

    display: flex;
    align-items: center;
}

#hamburger{
    background: none;
    border: none;
    font-size: 1.5em; color: aliceblue;
    cursor: pointer;
    width: 30px; line-height: 10px;
    border-radius: 50%;
    display: none;
}

#logo{
    height: 25px;
    margin: 0 20px;
}

#menu{
    display: flex;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.main{
position: relative;
}

.mainlink{
    display: block;
    color: aliceblue; line-height: 35px;
    padding: 0 1em;
    transition: .3s;
}

.mainlink:hover{
    background: rgba(0,0,0,0.3);
}

.sub{
    position: absolute;
    top: 100%; left:0;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
}

.sublink{
    display: block;
    color: aliceblue; line-height: 35px;
    padding: 0 1em; font-size: .9em;
    transition: .3s;
}

.mainlink:hover > .mainLink {
    background-color: rgba(0,0,0,0.3);
}

.mainlink:hover > ,sub {display : block}
.sublink:hover{
    background: rgba(0,0,0,0.3);
}

#searchBox {
    position: absolute;
    bottom:50px; left: 50%;
    transform:translateX(-50%);
    border: 5px solid rgb(255,199,25);
    width: 95%; max-width: 800px;
    padding: 10px;

    display: flex; align-items: center;
    justify-content: space-between;
}

#search{
    font-size: 1.5em;color: gold;
    width:80px;
}

#searchButton{
    background: #fff; border: none;
    padding: 1.5em;
    border-radius: 3px;
}

#searchBox:hover{
    background-color: gold;
}

#searchBox:hover > #search {color: #000;}
#searchBox:hover > #searchButton {
    background:#000; color:#ffffff;
}

@media screen and (max-width:850px){
    #headerTitle{font-size: 7vw;}
}

@media screen and (max-width:950px){
    #hamburger{display: block;}
    #menu{
        display: none;
        width: 200px;
        position: absolute; top: 50px;
    }
    #navi:hover>#menu, #menu:hover{display:block;}

    .sub{
        top: 0; left: 100%;
        width: 100%; min-width: 100%;
    }
    .sublink{
        line-height: 35px;
    }
}

@media screen and (max-width:450px){
    #headerTitle{font-size: 10vw;}

    #search{display: none;}
    #searchTitle{font-size: 1rem;}
    #searchButton{padding:0.5rem;}
}

